@using HRM.Web.Models;
@model List<Employee>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Bio</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Address</td>
            <td>@item.Gender</td>
            <td>@item.Dob.ToString("MMMM dd, yyyy")</td>
            <td>@item.Department</td>
            <td>@item.Designation</td>
            <td>@item.Bio</td>
        </tr>
    }
</table>