@model List<EmployeeViewModel>

<table class="table table-striped table-bordered table-responsive mx-auto">
    <tr>
        <th>Avatar</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Bio</th>
        <th>AGE</th>
        <th>Actions</th>
        
    </tr>
    @foreach (var item in Model)
    {
        var imagePath = string.IsNullOrEmpty(item.ProfileImageName) ? "/images/person.png" : item.ProfileImageName;
        <tr>
            <td><img src="@imagePath" class="rounded-circle" height="30"></td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Address</td>
            <td>@item.Gender</td>
            <td>@item.Dob?.ToString("MMMM dd, yyyy")</td>
            <td>@item.DepartmentName</td>
            <td>@item.DesignationTitle</td>
            <td>@item.Bio</td>
            <td>@item.Age</td>
            <td>
                <a href="/employee/edit/@item.Id"><i class="bi bi-pencil-fill text-warning"></i></a>
                <a href="/employee/delete/@item.Id"><i class="bi bi-trash3-fill text-danger"></i></a>
            </td>
        </tr>
    }
</table>
